<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <div class="layout-nav">
        <div th:replace="~{layout/fragments/side_bar::sidebar}">
        </div>
    </div>
    <div class="layout-cont">
        <div id="main">
            <div class="container">
                <div layout:fragment="content">
                    <p style="font-size: 50px">MAIN LAYOUT CONTENT</p>
                </div>
            </div>
        </div>
        <div id="footer">
            <div th:replace="~{layout/fragments/footer::footer}">
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">

    </th:block>
</body>
</html>