@import "tailwindcss";


body {
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* map the custom background utility */
.bg-background-light {
    background-color: #f6f6f8;
}

.bg-background-dark {
    background-color: #101622;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}