<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>

<body>
<div th:fragment="sidebar" class="sidebar">
    <nav id="sidebar">
        <ul>
            <li>
                <span class="logo">HUST</span>
                <button onclick=toggleSidebar() id="toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
                </button>
            </li>
            <li th:classappend="${#strings.equals(request.requestURI, '/')} ? 'active' : ''">
                <a href="/">
                    <i class="bi bi-house-door" style="font-size: 1.8rem"></i>
                    <span>Home</span>
                </a>
            </li>
            <li th:classappend="${#strings.equals(request.requestURI, '/')} ? 'active' : ''">
                <a href="/">
                    <i class="bi bi-columns-gap" style="font-size: 1.8rem"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li th:classappend="${#strings.startsWith(request.requestURI, '/user') ? 'active' : ''}">
                <button onclick=toggleSubMenu("sub-menu-create") class="dropdown-btn" id="sub-menu-create">
                    <i class="bi bi-cloud-plus-fill" style="font-size: 1.8rem"></i>
                    <span>Create</span>
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <ul class="sub-menu" >
                    <div>
                        <li><a href="#">Folder</a></li>
                        <li><a href="#">Document</a></li>
                        <li><a href="#">Project</a></li>
                    </div>
                </ul>
            </li>
            <li th:classappend="${#strings.startsWith(request.requestURI, '/user') ? 'active' : ''}">
                <button onclick=toggleSubMenu("sub-menu-work") class="dropdown-btn" id="sub-menu-work">
                    <i class="bi bi-list-check" style="font-size: 1.8rem"></i>
                    <span>Todo-Lists</span>
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <ul class="sub-menu" >
                    <div>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Private</a></li>
                        <li><a href="#">Coding</a></li>
                        <li><a href="#">Gardening</a></li>
                        <li><a href="#">School</a></li>
                    </div>
                </ul>
            </li>
            <li th:classappend="${#strings.startsWith(request.requestURI, '/product') ? 'active' : ''}">
                <a href="/product">
                    <i class="bi bi-camera-reels" style="font-size: 1.8rem"></i>
                    <span>Product</span>
                </a>
            </li>
            <li th:classappend="${#strings.startsWith(request.requestURI, '/setting') ? 'active' : ''}">
                <a href="/setting">
                    <i class="bi bi-gear-fill" style="font-size: 1.8rem"></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>