spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${emailUsername}
    password: ${emailPassword}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: auth
    password: authpass
    driver-class-name: org.postgresql.Driver

server:
  port: 8080