<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/main_layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div layout:fragment="content">
        <div>
            <h1>Dashboard</h1>
            <p>Welcome to the dashboard page!</p>
            <p>This is a placeholder for your dashboard content.</p>
        </div>

    </div>
</body>
</html>